
/* from bootstrap */
body {
    margin: 0;
    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
}

.navbar {
    width: 100%;
    text-align: right;
    min-height: 30px;
    background-color: lightblue;
    
    display: block;
    padding-right: 25px;
    vertical-align: center;
    /*margin-top: 15px;
     margin-bottom: 15px;
     margin-left: 0px;
     margin-right: 15px;*/
}

.portfolio-actions {
    
}

.returnToPorts { float: left; padding-left: 10px; }

.sidebar {
    float: right;
    display: block;
    width: 30%; /*350px;*/
    height: 100%;
    margin-right: 20px;
}

.main {float: left; /*width: 65%;*/ }
.action-btn {
    width : 240px;
    font-weight: bold;
}

.container {
    float: left;
    padding: 15px;
    margin: 0px;
    /*float: left;
     display: block;*/
    
}

h1 { font-size: 18px; color: black; }
h2 { font-size: 14px; color: darkblue; line-height: 14px; }
h3 { font-size: 13px; color: indigo; }

hr {width: 50%; color: #333; }

.stockName {
    font-weight: bold;
    color: turquoise;
    padding-right: 50px;
}

.stockSymbol {
	padding-right: 50px;
    
	display: inline-block;
}

.numShares {
	width: 200px;
	display: inline-block;
    
}

.stockPast {
    width: 200px;
	display: inline-block;
    
}

.stockPredict {
    width: 300px;
	display: inline-block;
}

.portDate {width: 100px;} 

input[type=date]#portEnd {width: 100px;}

input[type=number] {
    height: 30px;
    width: 55px;
}

input[type=text] {
    height: 30px;
    width: 55px;
}

input[type=text].addPortfolio {
    height: 30px;
    width: 250px;
}

td { padding: 4px }
th { padding: 4px }
/*.portfolio-summary {
 border: 4px double red;
 width: 350px;
 display: inline-block;
 float: right;
 }*/


/*
 #stock-holding-info {
 height: 400px;
 width: 400px;
 border: 1px solid hotpink;
 float: right;
 margin: 50px;
 }*/


/*
 p {
 margin-top: 15px;
 .	margin-bottom: 15px;
 margin-left: 0px;
 margin-right: 15px;
 .
 p {
 display: block;
 -webkit-margin-before: 1em;
 -webkit-margin-after: 1em;
 -webkit-margin-start: 0px;
 -webkit-margin-end: 0px;
 }
 */
