
/* from bootstrap */
body {
    margin: 0;
    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
}

.navbar {
    width: 100%;
    text-align: right;
    min-height: 30px;
    background-color: lightblue;
    
    display: block;
    padding-right: 25px;
    vertical-align: center;
    /*margin-top: 15px;
     margin-bottom: 15px;
     margin-left: 0px;
     margin-right: 15px;*/
}

.container {
    /*float: left;*/
    padding: 15px;
    margin: 0px;
    /*float: left;
     display: block;*/
    
}

.sidebar {
    float: right;
    display: inline;
    /*display: inline-block;
    /*width: 30%; /*350px;*/
   /* height: 100%;*/
    /*margin-right: 20px;*/
}

.main {
    float: left;
    display: inline;
    padding: 15px;
    margin-top: 0;
    /*width: 65%;*/
}

h1 { font-size: 18px; color: black; }
h2 { font-size: 15px; color: darkblue; line-height: 14px; }
h3 { font-size: 13.5px; color: indigo; }

hr {width: 50%; color: #333; }

td { padding: 4px }
th { padding: 4px }

.portfolio-actions {  }

.action-btn {
    width : 240px;
    font-weight: bold;
   /* margin-bottom: 5px;*/
}



.returnToPorts { 
    float: left;
    padding-left: 10px;
}



.stockName {
    font-weight: bold;
    color: turquoise;
    padding-right: 50px;
}

.stockSymbol {
    padding-right: 50px;
    display: inline-block;
}

.numShares {
    width: 200px;
    display: inline-block;
}

.stockPast {
    width: 200px;
    display: inline-block;
    
}

.stockPredict {
    width: 300px;
    display: inline-block;
}

/* this is all rather redundant */
.portDate {width: 100px;} 

input[type=date]#portEnd {width: 100px;}

input[type=date] {width: 100px; /*margin-left: 5px;*/}


input[type=int].priceField { width: 70px; }

input[type=number] {
    height: 30px;
    width: 55px;
    margin-top: 4px;
}



input[type=text].stockSymbol {
    height: 30px;
    width: 55px;
    margin-top: 4px;
}

input[type=text].addPortfolio {
    height: 30px;
    width: 250px;
}

/* for login/register page */
input[type=text].emailInput {
    width: 200px;
    height: 20px;
}





/*.portfolio-summary {
 border: 4px double red;
 width: 350px;
 display: inline-block;
 float: right;
 }*/


/*
 #stock-holding-info {
 height: 400px;
 width: 400px;
 border: 1px solid hotpink;
 float: right;
 margin: 50px;
 }*/


/*
 p {
 margin-top: 15px;
 .	margin-bottom: 15px;
 margin-left: 0px;
 margin-right: 15px;
 .
 p {
 display: block;
 -webkit-margin-before: 1em;
 -webkit-margin-after: 1em;
 -webkit-margin-start: 0px;
 -webkit-margin-end: 0px;
 }
 */
